*{
    margin:0;
    padding: 0;
    font-family: century gothic;
    
}
header{
    background-image: url(../Media/moon1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
ul{
    
    list-style-type:none;
    margin-top: 15px;
    
}
ul li{
    display: inline-block;
    margin:15px;
}
ul li a{
    text-decoration: none;
    color:#fff;
    
    border:1px solid #fff;
}
ul li a:hover{
    background-color: #fff;
    color:#000;
}

.main{
    max-width: 1200px;
}
.main h1{
    color:#fff
}
.title{
    position:absolute;
    left:40%;
    border: 1px ridge #fff;
}
.title h2{
    color:#fff;
    font-size:20px;
    
}
