#outer{
    background-color: yellowgreen;
    height:auto;
    width:600px;
    text-align: center;
    /* margin:auto 0; */
    padding:20px;
}
#inner{
    background-color: violet;
    margin:25px;
    height:150px;
    

}
#inner div{
    display: inline-block;
    background-color: tomato;
    padding:20px 40px;
    margin:7px;
}