.header1{
    list-style-type: none;
    margin:0px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.subheading{
    margin:10px;
    text-decoration: none;
    background-color: aqua;
    padding: 7px;
    border:1px solid yellow;
}
.link{
    text-decoration: none;
    
}