.container{
    /* background-color:gray; */
    width:100%;
    /* height:2350px; */
    display: grid;
    grid-template-rows:200px 500px 400px 400px 600px 600px 300px 30px;
    grid-template-columns: repeat(3,1fr);
    /* grid-gap:10px; */
    box-sizing: border-box;

}
.group{
    /* background-color: brown; */
    width:100%;
    
    /* height:200px; */
    /* border:1px solid white; */
}
.header{
    background-color: violet;
    grid-column: span 3;
}
.slider{
    background-color: yellow;
    grid-column: span 3;
}
.aboutus{
    /* background-color: yellowgreen; */
    grid-column: span 3;
    display: grid;
    /* grid-template-rows: 50px 50px; */
    grid-template-columns: repeat(4,1fr);
    width:100%;
    grid-gap:5px;
}
.leftaboutus{
    /* background-color: honeydew; */
    grid-column: span 2;
    /* width:80%; */
    padding-left:120px;
    text-align: justify;
    
}
.rightaboutus{
    background-color:orange;
    grid-column: span 2;
    /* width:80%; */
    padding-right:120px;
}
.btn{
    padding:7px 15px;
    background-image:linear-gradient(to right, #f3d478, #efa81b);
    border:1px solid transparent;
}
.btn a{
    text-decoration: none;
    color:white;
}
.btn:hover{
    background-image:linear-gradient(to right, #4315c0bd, #301bef);
    border:1px solid transparent;
    transition: 0.3s ease;
    /* width:100%; */
}
.features{
    background-color: aquamarine;
    grid-column: span 3;
    display: grid;
    /* grid-template-rows: 50px 50px; */
    grid-template-columns: repeat(4,1fr);
    width:100%;
    overflow: hidden;
}
.leftfeature{
    background-color: indigo;
    grid-column: span 2;
    /* padding-left:60px; */
        
}
   
.rightfeature{
    background-color:olive;
    grid-column: span 2;
    color: navy;

}
.rightfeature span{
    color:green;
}
ul{
    list-style-type: none;
}
/* ul .list1::marker{
    content: url(./Media/bullet1.png);
    
} */
li{
    line-height: 25px;
    color: navy;
}
.bom{
    background-color: tomato;
    grid-column: span 3;
    display: grid;
    width:100%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px 350px;
    grid-gap:5px;
    

}
.title{
    background-color: honeydew;
    grid-column: span 4;
    grid-row:1/2;
    /* color: palevioletred; */
    padding: 5px;
    margin-top:50px;
    margin-bottom:35px;


}
.title h4{
    text-align: center;
    color: goldenrod;
    /* padding: 10px; */

}

.title h1{
    text-align: center;
    color: navy;
    /* font-size: 20px; */
    /* padding: 10px; */

}
.gallery{
    background-color: pink;
    grid-column: span 4;
    grid-row:span 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:5px;
    margin-top:35px;
    /* padding:5px; */
    text-align: center;
}
img{
    width:100%;
    height: 300px;
}
.pic1{
    background-color: peru;
    grid-column: 1/1;
    grid-row:1/1;
    padding-left:150px;
    
    /* border: 5px solid white; */
}
.pic2{
    background-color: red;
    grid-column: 2/2;
    grid-row:1/1;
    padding-left:50px;
    padding-right:50px;
        /* border: 5px solid white; */
}
.pic3{
    background-color:palevioletred;
    grid-column: 3/3;
    grid-row:1/1;
    padding-right:150px;
    /* border: 500px solid white; */
}
h5{
    font-size: 10px;
}
h4{
    color: navy;
    
}
.brouchers{
    background-color: teal;
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px 350px;
    width:100%;
    grid-gap:5px;
    overflow: hidden;
}

.broch1{
    background-color: peru;
    grid-column: 1/1;
    grid-row:1/1;
    padding-left:100px;    
    
    /* border: 5px solid white; */
}
.broch2{
    background-color: red;
    grid-column: 2/2;
    grid-row:1/1;
    padding-left:50px;
    padding-right:50px;
        /* border: 5px solid white; */
}
.broch3{
    background-color:palevioletred;
    grid-column: 3/3;
    grid-row:1/1;
    padding-right:100px;
    /* border: 500px solid white; */
}
.footer{
    background-color: green;
    grid-column: span 3;
}
.footerend{
    background-color: goldenrod;
    grid-column: span 3;
}