.App{
    position: absolute;
    top:5%;
    left:30%;
    margin:10px;
    padding:10px;
    text-align: center;
    border:1px solid yellowgreen;
    background-image: url('https://images.unsplash.com/photo-1516638489986-0c17c234db55?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGdsaXR0ZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    height:535px;
}